.wrapper
  = render "shared/side_bar"
  .chat-title
    .chat-title_group-box
      - current_user.groups.each do |group|
        %p.group__name
          = group.name
      %p.member-name
        Members:
        = current_user.name
    = link_to "Edit", edit_group_path(@group), class: "edit-btn"
  .blank-box
  .messages
    = render @messages
  .form
    = form_for [@group, @message], id: 'new_message' do |f|
      = f.text_area :content, class: "form_message", placeholder: 'type a message', value: "", wrap: "hard"
      = f.hidden_field :group_id, class: "group_id", name: "group_id", :value => @group.id
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'img-upper'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'send-btn'
  .blank-box2