!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpaceproto

    = stylesheet_link_tag    'groups', media: 'all', 'data-turbolinks-track': 'reload'
    //config/initializers/assets.rbにてscssファイルをプリコンパイル
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body
    = render 'layouts/notifications'
    = yield
